*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    display: flex;
    margin-top: 32px;
    margin-left: 42px;
    align-items: center;
}
.nav a{
    margin-right: 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight:400;
    line-height: 21px;
    text-align: center;
    color: #17233D;
}
.button button{
    width: 124px;
    height: 51px;
    padding: 14px 28px 14px 28px;
    border-radius: 6px;
    border: 1px solid #4CB538 ;
    background: #6FBF44;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    
}
.section{
    display: flex;
    gap: 84.98px;
}
.image-logo img{
    width: 595.18px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
    margin-bottom: 102px;
}

.article h1{
    width: 582px;
    height: 164px;
    margin-top: 259px;
    margin-right: 57px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49;
    
}
.article p{
    width: 493px;
    height: 99px;
    font-size:18px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 47px;
    margin-bottom: 55px;
    margin-right: 146px;
}
.article a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #6FBF44;
}
@media screen and (max-width: 560px){
    

    .button{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .section{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .article h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        width: 278px;
        height: 60px;
        text-align: center;
        margin: 45px 141px 29px 141px;
    }
    .article p{
        font-size: 18px;
        font-weight:400;
        line-height: 33px;
        width: 304px;
        height: 165px;
        text-align: center;
        margin: 0 129px 26px 127px;
    }
    .article a{
        text-align:center;
        margin: 0 22px 13px 220px ;
    }
    .image-logo img{
        text-align: center;
        align-items: center;
        width: 362.96px;
        height: 288px;
        margin-top: 5px;
        margin-bottom: 60px;
    }
    .nav{
        display: flex;
        overflow: hidden;
        margin-top: 50px;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
    }
    .nav.ativo{
        max-height: 25px;
    }

    }









