*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
.header{
    display: flex;
    gap: 32px;
    margin-top: 32px;
    margin-left: 42px;
    align-items: center;
}
.header .nav a{
    margin-right: 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center; 
    color: #17233D;
}
.header .nav a:last-child{
    margin-right: 0px;
}
button{
    padding: 14px 28px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
.section{
    display: flex;
}
.section .article{
    margin: 259px 57px 114px 0;
}
.section .article h1{
    width: 582px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}
.section .article p{
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}
.article a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #6FBF44;
}
.section .image-logo img{
    position: relative;
    margin: 163px 85px 102px 121px;
}
@media screen and (max-width:1500px) {
    .header .nav{
        display: none;
    }
    button{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .section{
        display: flex;
        flex-direction: column-reverse;
    }
    .section .article{
        position: static;
        max-width: 75%;
        margin: 133px auto 43px;
        padding: 0;
        justify-items: center;
        
    }
    .section .article h1{
        width: auto;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .section .article p{
        width: auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        margin: 0;
        padding: 37px 0;
    }
    .section .image-logo{
        margin: 0 auto;
    }
    .section .image-logo img{
        position: static;
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
        padding: 20px;
    }
}
@media screen and (max-width:380) {
    .section .article{
        position: static;
        margin: 0;
    }
}


    









